/**/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

div {
	box-sizing: border-box;
}

body {
	position: relative;
	background: #ddd;
}

#threeContainer, #tileContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#threeContainer {
	z-index: 5;
}

#tileContainer {
    box-sizing: border-box;
    padding-left: 40px;
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    background-color: #000;
    z-index: 10;
}

.tile {
    position: relative;
    background-color: blue;
    background: url(../chris.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.tile[data-size="1x1"] {
    width: 245px;
    height: 285px;
    font-size: 12pt;
}

.tile[data-size="2x1"] {
    width: 500px;
    height: 285px;
    font-size: 18pt;
}

.tile[data-size="2x2"] {
    width: 500px;
    height: 580px;
    font-size: 24pt;
}

.tile[data-size="3x2"] {
    width: 755px;
    height: 580px;
    font-size: 36pt;
}

.tile .title {
    position: absolute;
    box-sizing: border-box;
    bottom: 0px;
    height: 30%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    padding: 3%;
    overflow: hidden;
}