/**/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

div {
	box-sizing: border-box;
}

#screen1, #screen2, #screen3 {
    position: relative;
    width: 1080px;
    height: 1920px;
    background: -webkit-linear-gradient(top, #000000 0%,#565152 40%,#565152 60%,#000000 100%);
    float: left;
    margin-right: 10px;
}

.threeContainer, .tileContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.threeContainer {
	z-index: 5;
}

.tileContainer {
    box-sizing: border-box;
    -webkit-transform: perspective(600) translateZ(0px);
    -webkit-transition: all 0.3s ease-out;
    margin: 350px 20px 0px 20px;
    width: 1040px;
    height: 875px;
    overflow: hidden;
    z-index: 10;
}

.tileContainer.featuredTileFocus {
    -webkit-transform: perspective(600) translateZ(-140px);
}

.tile {
    position: relative;
    background-color: blue;
    -webkit-box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, .2);
    box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, .2);
}

.tile[data-size="1x1"] {
    width: 245px;
    height: 285px;
    font-size: 12pt;
}

.tile[data-size="2x1"] {
    width: 510px;
    height: 285px;
    font-size: 12pt;
}

.tile[data-size="2x2"] {
    width: 510px;
    height: 590px;
    font-size: 12pt;
}

.tile[data-size="3x2"] {
    width: 775px;
    height: 590px;
    font-size: 12pt;
}

.tile .title {
    position: absolute;
    box-sizing: border-box;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    padding: 15px;
    overflow: hidden;
}

.featuredTileContainer {
    position: absolute;
    z-index: 20;
    width: 1080px;
    height: 1920px;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.featuredTile {
    width: 950px;
    height: 1400px;
    margin: 238px auto 0px auto;
    padding-top: 70px;
    -webkit-animation-duration: .5s;
}

.featuredTile .mediaContainer {
    width: 1080px;
    height: 800px;
    margin-left: -67px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.featuredTile .mediaContainer .media {
    width: auto;
    height: 100%;
    text-align: center;
    float: left;
    white-space: nowrap;
}

.featuredTile .mediaContainer .media img {
    height: 800px;
    width: auto;
    float: left;
}

.featuredTile .description {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height: 440px;
    margin-top: 82px;
    padding: 20px 60px 20px 60px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    overflow-y: scroll;
}

.featuredTile .description h1 {
    font-size: 36pt;
}

.featuredTile .description p {
    font-size: 18pt;
}