/**/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

div {
	box-sizing: border-box;
}

#screen1, #screen2, #screen3 {
    position: relative;
    width: 1080px;
    height: 1920px;
    background: -webkit-linear-gradient(top, #000000 0%,#565152 40%,#565152 60%,#000000 100%);
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.threeContainer, .tileContainer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.threeContainer {
	z-index: 5;
}

.tileContainer {
    box-sizing: border-box;
    -webkit-transform: perspective(600) translateZ(0px);
    -webkit-transition: all ease-in-out;
    -webkit-transition-duration: 0.4s;
    margin: 350px 20px 0px 20px;
    width: 1040px;
    height: 875px;
    z-index: 10;
}

.tileContainer.featuredTileFocus {
    -webkit-transform: perspective(600) translateZ(-140px);
}

.tileContainer.slowAnimation {
    -webkit-transition-duration: .7s;
}

#screen1 .tileContainer.flyOut, #screen3 .tileContainer.flyOut {
    -webkit-transform: translateY(-1600px) translateZ(0);
}

#screen2 .tileContainer.flyOut {
    -webkit-transform: translateY(1600px) translateZ(0);
}

.tile {
    position: relative;
    background-color: blue;
    -webkit-box-shadow:  0px 0px 5px 3px rgba(0, 0, 0, .2);
    font-size: 14pt;
}

.tile[data-size="1x1"] {
    width: 245px;
    height: 285px;
}

.tile[data-size="2x1"] {
    width: 510px;
    height: 285px;
}

.tile[data-size="2x2"] {
    width: 510px;
    height: 590px;
}

.tile[data-size="3x2"] {
    width: 775px;
    height: 590px;
}

.tile .title {
    position: absolute;
    box-sizing: border-box;
    bottom: 0px;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    padding-left: 15px;
    overflow: hidden;
}

.tile .title .wrap {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 70px;
    overflow: hidden;
}

.featuredTileContainer {
    position: absolute;
    z-index: 20;
    width: 1080px;
    height: 1920px;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.featuredTile {
    width: 100%;
    height: 1400px;
    margin: 238px auto 0px auto;
    padding-top: 70px;
    -webkit-animation-duration: .5s;
}

.featuredTile .mediaContainer {
    width: 100%;
    height: 800px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.featuredTile .mediaContainer .media {
    width: auto;
    height: 100%;
    text-align: center;
    white-space: nowrap;
}

.featuredTile .mediaContainer .media img {
    height: 800px;
    margin-right: 20px;
    width: auto;
    display: inline-block;
}

.featuredTile .description {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    max-height: 500px;
    margin-top: 82px;
    padding: 20px 60px 20px 60px;
    background: #000;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    overflow-y: scroll;
}

.featuredTile .description h1 {
    font-size: 36pt;
}

.featuredTile .description p {
    font-size: 18pt;
    font-weight: 200;
}

#name {
    position: absolute;
    width: 100%;
    height: 165px;
    margin-top: 96px;
    color: #FFF;
    text-align: center;
    font-size: 78pt;
    font-weight: 200;
}

#logos {
    position: absolute;
    width: auto;
    height: auto;
    bottom: 73px;
    left: 368px;
    opacity: .2;
}

#logos .HCII {
    background-image: url(../app/img/HCII_logo.png);
    background-size: 160px auto;
    background-repeat: no-repeat;
    width: 160px;
    height: 200px;
    float: left;
    margin-right: 32px;
}

#logos .RI {
    background-image: url(../app/img/RI_logo.png);
    background-size: 160px auto;
    background-repeat: no-repeat;
    width: 160px;
    height: 200px;
    float: left;
    margin-top: 9px;
}